section#aboutText{
  $imgSize: 300px;

  padding-top: $navHeight;

  .grid{
    display: grid;
    height: auto;
    grid-template-columns: 3fr 5fr;
    padding: 2rem;

    .grid_el{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .grid_el.photo{
        display: flex;
        flex-direction: column;
        align-items: center;

        .grid{
          display: grid;
          grid-template-columns: 1fr;
          width: $imgSize;
          height: fit-content;
          padding: 0;

          p{
            padding: 1rem 0;
            border: solid 1px $grey;
            border-top: none;
            display: flex;
            align-items: center;

            span:first-child{
              padding: 0 2rem;
            }

            &:last-child{
              border-radius: 0 0 1rem 1rem;
            }
          }
        }
        
        img{
          width: $imgSize;
          height: $imgSize;
          border-radius: 1rem 1rem 0 0;
        }
  
        span{
          font-size: large;
        }
    }
    .grid_el.text{
      h2{
        margin-bottom: 2rem;
        font-family: $ff-secondary;
      }
      p{
        text-align: justify;
      }
    }
  }
}

@media screen and (max-width: $bp-mobile){
  section#aboutText{
    .grid{
      grid-template-columns: 1fr;

      .title_deco{
        &::before, &::after{
          width: 40px;
        }
      }
    }
    &>.grid{
      grid-gap: 3rem 0;
    }
  }
}