@import "../config";

#blog{
  padding-top: $navHeight;

  .text_block{
    @extend .container;

    i{
      font-size: .9rem;
    }

    .addArticle{
      cursor: pointer;
      background-color: $orange;
      color: $white;
      padding: .5rem 1rem;
      margin: 1rem 0;
    }
  }

  .articles{
    width: 90%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .article{
      cursor: pointer;
      display: flex;
      background-color: $grey;
      margin: 1rem 0;
      border-radius: 1rem;
      overflow: hidden;
      color: $black;
      max-height: 250px;

      &:hover{
        .img{
          img{
            transform: scale(1.1);
            filter: blur(1px);
          }
        }
      }
      
      .img{
        $imgSize: 250px;
        width: $imgSize;
        min-width: $imgSize;
        height: $imgSize;
        background-color: $grey;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content{
        padding: 1rem;

        .title{
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }
        .description{
          font-size: .8rem;
          font-style: italic;
        }
      }
    }
  }
}


@media screen and (max-width: $bp-tablet){
  #blog{
    .text_block{
      i{
        width: 500px;
        text-align: center;
      }
    }
    .articles{
      grid-template-columns: 1fr;
    }
  }
}


@media screen and (max-width: $bp-mobile){
  #blog{
    .text_block{
      i{
        width: 350px;
      }
    }
    .articles{
      .article{
        flex-direction: column;
        max-height: unset;

        .img{
          width: 100%;
          height: 300px;

          img{

          }
        }
        .content{
          max-height: 200px;
        }
      }
    }
  }
}