.faq{
  width: 60%;
  padding: 0 2rem;

  .question{
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;

    ::selection{
      background: transparent;
    }
  }
  .answer{
    margin-bottom: 1rem;
    font-size: .9rem;
  }
}

@media screen and (max-width: $bp-mobile){
  .faq{
    .answer{
      max-width: 100%;
    }
  }
}