section#skillbars{
  .grid{
    width: 80%;
    padding-bottom: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 5rem;
    margin-top: 5rem;
  }

  .skillbar{
    position: relative;
    background-color: $grey;
    height: 2rem;
    border-radius: .25rem;
    overflow: hidden;
    color: $white;
    font-weight: 700;

    .skillbar_number{
      position: absolute;
      top: 50%;
      left: calc(100% + .5rem);
      transform: translateY(-50%);
      z-index: 1;
    }

    .skillbar_title{
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      padding: .3rem .6rem;
      background-color: rgba($black, .1);
    }

    .skillbar_bar{
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 1rem;
      border-radius: .25rem;
    }
  }

  .skills_tags_container{
    width: 40%;
    margin: 0 auto;
  }
}

@media (max-width: $bp-laptop){
  section#skillbars{
    .grid{
      width: 90%;
    }
  }
}

@media screen and (max-width: $bp-tablet){
  section#skillbars{
    .skills_tags_container{
      width: 70%;
    }
  }
}

@media screen and (max-width: $bp-mobile){
  section#skillbars{
    .grid{
      grid-template-columns: 1fr;
      margin-top: 0;
    }
    .skills_tags_container{
      width: 90%;
    }
  }
}