section#stat{
  width: 100%;
  margin-top: 100vh - $headerHeight;

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;

    .grid_el{
      padding: 2rem;
      width: 100%;
      overflow: hidden;
    }

    .grid_el.text{
      @extend .center;

      h2{
        text-align: center;
        margin-bottom: 2rem;
        font-family: $ff-secondary;
      }
      ul{
        width: 400px;
        // list-style: disc;

        li{
          margin: .5rem 0;
        }
      }
    }
    
    .grid_el.img{
      @extend .center;

      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: $bp-laptop){
  section#stat{
    .grid{
      .grid_el.text{
        ul{
          margin: 0 auto;
          width: 100%;
          text-align: left;
          list-style: none;
          font-size: .9rem;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-tablet){
  section#stat{
    .grid{
      grid-template-columns: 1fr;

      .grid_el.text{
        text-align: center;
      }
    }
  }
}

@media(max-width: $bp-mobile){
  section#stat{
    .grid{
      grid-template-columns: 1fr;
      width: 100vw;

      .grid_el.text{

        h2{
          font-size: x-large;
        }
        ul{
          font-size: .8rem;
        }
      }
    }
  }
}