.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin grid-c($number, $gap) {
  display: grid;
  grid-template-columns: repeat($number, 1fr);
  grid-gap: $gap;
}